*{
    margin: 0;
    padding-left: 0;
}

body{
    /* min-height: 100vh;
    background-image: url(assets/007.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picture{
    min-height: 100vh;
    background-image: url(assets/007.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    padding: 2rem 9%;
    /* margin-top: 1rem; */
    /* border: solid red; */
    /* border-radius:50px; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.338);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);


}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav li{
    height: 50px;
    gap: 4px;

}
nav a {
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    gap: 3px;
}
nav a:hover{
    border-left:solid  red;
    /* border-bottom:solid red; */
    color: red;
    /* background-color: red; */
}
/* nav li:first-child{
    margin-right: auto;
} */

.logo-container{
  display: flex;
  /* text-align: center; */
  align-items: center;   /* PERFECT ALIGNMENT*/
  gap: 1px;
  padding-right: 2rem;
  margin-right: auto;
}

/* LOGO IMAGE */
.logo-container .logo{
  height: 45px;
  width: auto;
  display: block;
}

/* LOGO TEXT */
.brand{
  font-size: 2.5rem;
  color:#2e358f;
  font-weight: 700;
  font-weight: bold;
}
.brand:hover{
    cursor: pointer;
}

.brand span{
  color: red;
}
.btn{
  display: inline-block;
  margin-top: 1px;
  border-radius: 20px;
  border: solid red;
  /* border-color: navajowhite; */
  background: red;
  color: white;
  font-weight: 1000;
  font-size: small;
  cursor: pointer;
  padding:.8rem 3rem;
  margin-left: 5px;
  /* margin-right: auto; */

}
.btn:hover{
  background: #2e358f;
  border: solid #2e358f;
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.443);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-bar li{
    width: 100%;

}
.side-bar a{
    width: 100%;
}
.menu-btn{
    display: none;
}

.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    /* background-color: #eee; */
    /* min-height: 200px; */
    /* min-width: 100%; */

} 
.icons-container .icon{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem;
    background-color: #fff;
    box-shadow: grey;
    border-radius: .5rem;
    text-decoration: none;
    color: black;

}
.icons-container .icon i{
    height: 5.5rem;
    width: 5.5rem;
    line-height: 5.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: black;
    text-align: center;
    
}

.front1{
    padding-top: 150px;
    padding-left: 100px;
    color: #ffffff;
    font-style: oblique;
}
.front {
    color: rgb(255, 255, 255);
    padding-left: 100PX; ;
}
.paragraph{
    color: rgb(255, 255, 255);
    padding-left: 100px;
    min-width: 250px;
}
.btn-fr{
    margin-top: 10px;
    margin-left:100px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: #eee;
    font-weight: bold;
    background-color: red;
    border-color: red;
    cursor: pointer;

}
.btn-fr :hover{
    cursor: pointer;
    border-color: red;
}
.letter{
    background-position: center;
    /* display: flex; */
}
.helo{
    background-color: #eee;
}
.heading{
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    color: red;
}
/* .icons-container .icon .content */




@media(max-width : 800px){
    .hideonmobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .brand{
        font-size: 21px;
    }
    .front1{
    padding-top: 150px;
    padding-left: 50px;
    }
    .front {
    color: rgb(255, 255, 255);
    padding-left: 50PX; ;
    }
    .paragraph{
    padding-left: 50px;
    /* font-size: medium; */
    font-weight: bold;
    }
    .btn-fr{
    margin-left: 50px;
    }
}
    
@media(max-width : 400px){
    .side-bar{
        width: 100%;
    }
    .brand{
        font-size: 15.5px;
    }
}
